.home-page-container{
    display:flex;
    padding: 1.5rem;
    max-width: 90rem;
    margin:auto;
    margin-top: 2rem;
    justify-content: center;
}

.mainfeed-container{
    margin: 0 2.5rem;
    width: 35rem;
}

.mainfeed-info-action-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    /* border: 1px solid black; */
}

.add-posts-notif{
  margin-top: 3rem;
}


.bookmark-icon{
    color: orange;
  }

  
.liked{
  color: red;
  cursor: pointer;
}
  

/* Modal */
.comment-input-master-wrapper {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.9;
    z-index: 2;
  }

.comment-input-modal-container {
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    display:none;
    z-index: 3;
    border-radius: 2rem;
  }
  


.viewModal{
      display: block;
  }


  /************** Filter Modal ************/

.filter-modal-master-container{
  position:absolute;
  border-radius: 0.3rem;
  top:0.5rem;
  right: 1rem;
  overflow: hidden;
  background-color: var(--white-bg);
  padding: 0.5rem;
  border: 1px solid black;
  width: max-content;
  box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
  font-size: 0.8rem;
  font-weight: 250;
}

.filter-modal-text{
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem;
  border-bottom: 1px solid var(--text-grey);
}

.filter-modal-options{
  text-align: left;
  padding: 0.5rem;
}
.filter-modal-options:hover{
  background-color: var(--light-grey-bg);
  text-align: left;
  padding: 0.5rem;
  cursor: pointer;
}

.clear-filter-btn{
  padding-top: 0.5rem;
  border-top: 1px solid var(--text-grey);
}


/* 
@media screen and (max-width:1000px){
    .products-container-content{
        grid-template-columns: 1fr 1fr;
    }
} */

