.landingpg-container{
    max-width: 60rem;
    margin: auto;
    padding: 0 3rem;
    margin-top: 3rem;
}


.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 8rem 0 2rem 0;
    padding: 4rem;
    color: var(--text-default-clr);
    /* box-shadow: 0px 0px 35px 25px rgba(0,0,0,0.3); */
    border-radius: 3rem;
}

.hero-content-section{
    display: flex;
    flex-direction: column;
    width: 45%;
    /* justify-content: center; */
    align-items: center;
}

.hero-heading{
    margin-top: 2rem;
}
.hero-para{
    margin-top: 2rem;
    line-height: 1.5rem;
    letter-spacing: 0.015rem;
    font-weight: 350;
}
.hero-img-container{
    width: 50%;
    height: 50%;
}

.hero-btn-container{
    margin-top: 2rem;
}

.hero-btn, .secondary-hero-btn{
    padding: 0.5rem 1.8rem;
    margin: 1rem 0;
    width: 80%;
}

.secondary-hero-btn{
    background-color: transparent;
    color: var(--primary-clr);
}
.secondary-hero-btn:hover{
    background-color: transparent;
}

.secondary-hero-btn-container:hover{
    background-color: transparent;
    transform: translateY(-0.2rem);
    transition-timing-function: ease-in;
    transition: 0.2s;   
}

.homepg-section-cont {
    width: 100%;
    margin: 4rem 0;
    padding: 2rem;
    color: var(--text-default-clr);
}

/******** Responsive media queries ********/

@media screen and (max-width: 768px) {
    .hero-container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .topic-heading{
        text-align: center;
    }

    
    .hero-content-section, .hero-img-container{
        width: 70%;
    }

    .hero-content-section{
        align-items: center;
    }

    .hero-para{
        text-align: center;
    }
}
