.home-page-container{
    display:flex;
    padding: 1.5rem;
    max-width: 90rem;
    margin:auto;
    margin-top: 2rem;
    justify-content: flex-start;
}

.mainfeed-container{
    margin: 0 2rem;
}

.mainfeed-info-action-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    /* border: 1px solid black; */
}










/* 
@media screen and (max-width:1000px){
    .products-container-content{
        grid-template-columns: 1fr 1fr;
    }
} */

